.upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.dropzone {
	border: 2px dashed #cccccc;
	border-radius: 4px;
	background-color: #fafafa;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	transition: border 0.3s ease;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.dropzone.active {
	border: 2px dashed #2196f3;
}

.dropzone.accept {
	border: 2px dashed #00e676;
}

.dropzone.reject {
	border: 2px dashed #ff1744;
}

.dropzone p {
	margin: 0;
	font-size: 16px;
	color: #555555;
}

.dropzone:hover {
	background-color: #f0f0f0;
}

.upload-elements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-align: center;
}

.upload-icon {
	font-size: 3rem;
	font-family: Arial, sans-serif; /* Adjust font family as needed */
}

.upload-elements .unsupported-error-msg {
	color: red;
	text-transform: capitalize;
}

.upload-elements .upload-successful {
	color: green;
	font-size: 1.5rem;
}

.upload-elements .progress-bar {
	width: 100%;
}

.folder-dropdown select {
	cursor: pointer;
}

.confidential-checkbox {
	display: flex;
	gap: 5px;
	font-family: Arial, sans-serif; /* Adjust font family as needed */
}
