h1 {
	margin-top: 10px;
}
.create-user-btn-container {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.create-user-btn {
	background-color: #4caf50;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	margin-top: 10px auto;
}

.create-user-btn:hover {
	background-color: #45a049;
}
