/* CSS */

.main {
	display: flex;
	min-height: calc(100vh - 60px); /* Adjust based on your footer height */
}

.footer {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: #27306c;
}
.footer .nis-brand {
	color: #c29542;
}
