/* CSS */

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: #2d3748;
	color: white;
}

.footer-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
